@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  background-color: #1E1D1D;
}

.body-container {
  max-width: 1440px;
  background: url('./img/mob-home-background2.svg');
}

.animate-width {
  width: 100%;
  -moz-transition: width 1s ease-in-out;
  -o-transition: width 1s ease-in-out;
  -webkit-transition: width 1s ease-in-out;

  transition: width 1s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-homeGray-dark rounded-full;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  @apply bg-gold-dark rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gold-hover;
}
