.home-header{
    background: url('../../img/desk-home_background.webp') no-repeat;
    background-position: top;
}

.home-login-form-container{
    background: url('../../img/mob-home-background2.svg') repeat;
}

@media screen and (min-width: 768px) {
    .home-login-form-container{
        background: none;
    }
}